<div fxLayout="row" fxLayoutAlign="end center" class="shadow-bottom p-2">
  <button mat-raised-button color="primary" (click)="openSearchListDialog()">Add Product</button>
  <!--<mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="Search">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="true">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="openSearchListDialog()">
      <mat-icon class="btn-suffix-icon" color="primary">search</mat-icon>
    </button>
  </mat-form-field>-->
</div>

